In [1]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
base_path = "/content/gdrive/MyDrive/AI/kaggle/fraud_detection"

In [5]:
!pwd
os.chdir(base_path)
!pwd

/content
/content/gdrive/MyDrive/AI/kaggle/fraud_detection

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [7]:
train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [8]:
test.head()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,120396.0,0.140378,0.989574,-0.506447,0.480553,1.407763,0.371637,0.811775,0.067702,...,0.120841,0.385872,1.302941,-0.177157,-0.192410,-0.724567,-0.433276,0.540947,0.323866,8.69
1,1,120396.0,-1.303150,0.187865,0.944395,-1.277834,1.236744,-1.301696,1.402234,-0.558914,...,-0.251346,-0.274175,-0.656826,-0.164985,0.001284,-0.001842,-0.024050,-0.436872,0.051705,59.99
2,2,120396.0,1.947883,-1.095332,-1.392121,-0.600598,-0.320840,0.048953,-0.443486,-0.081011,...,-0.293448,-0.250594,-0.385151,0.099030,0.221922,-0.212846,0.586637,-0.071616,-0.045475,119.97
3,3,120397.0,2.208529,-0.710646,-2.773526,-0.956707,0.359353,-1.365306,0.447270,-0.559306,...,0.016283,0.475859,1.232516,-0.272050,0.547241,0.762837,0.280295,-0.120039,-0.080764,73.80
4,4,120398.0,1.978006,-0.623106,-0.408601,0.228440,-0.525165,0.323324,-0.934529,0.218513,...,-0.180830,0.016574,0.108174,0.206531,-0.008353,-0.312596,-0.402981,0.040917,-0.024663,30.24

In [9]:
test.describe()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,...,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000
mean,56960.500000,145396.849186,0.254790,-0.061147,-0.739574,-0.176145,0.264154,-0.087355,0.121014,-0.048323,...,-0.046415,0.042414,0.125620,0.033691,-0.013508,-0.138416,-0.018915,-0.003145,-0.003661,89.869007
std,32886.593021,14553.113542,2.084798,1.708363,1.402110,1.461795,1.399507,1.381521,1.269185,1.140921,...,0.831851,0.718423,0.788891,0.678606,0.615592,0.567761,0.468648,0.420530,0.361525,256.237361
min,0.000000,120396.000000,-46.855047,-50.383269,-48.325589,-5.683171,-113.743307,-20.869626,-23.386192,-39.688571,...,-54.497720,-21.620120,-7.417140,-36.666000,-2.790479,-8.696627,-1.855355,-9.895244,-15.430084,0.000000
25%,28480.250000,132929.000000,-0.803474,-0.691492,-1.598875,-0.978321,-0.437266,-0.880160,-0.491670,-0.273016,...,-0.247525,-0.223898,-0.534498,-0.142556,-0.382477,-0.450982,-0.313889,-0.075609,-0.062309,5.950000
50%,56960.500000,145248.500000,0.117918,-0.005869,-0.734515,-0.337116,0.250455,-0.389824,0.153539,-0.035898,...,-0.104915,0.036140,0.186984,0.040797,0.016353,-0.193161,-0.041568,-0.009557,-0.028504,22.450000
75%,85440.750000,157640.750000,1.978708,0.803288,0.121452,0.431538,0.882898,0.309488,0.746786,0.285892,...,0.091963,0.253761,0.750595,0.227964,0.524469,0.221846,0.214747,0.093809,0.078240,78.000000
max,113921.000000,172792.000000,2.454930,12.730564,3.937048,15.304184,29.162172,73.301626,120.589494,12.766112,...,23.643417,20.063786,8.272233,22.528412,4.584549,6.070850,3.415636,31.612198,16.129609,25691.160000

In [10]:
train.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,...,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000,170886.000000
mean,61092.608212,-0.169856,0.040770,0.493038,0.117430,-0.176091,0.058238,-0.080670,0.032215,0.018873,...,-0.028273,-0.083738,-0.022461,0.009004,0.092271,0.012607,0.002100,0.002443,87.336246,0.002107
std,27828.974490,1.850523,1.610865,1.383248,1.371899,1.338609,1.295132,1.208518,1.227627,1.152289,...,0.743723,0.667322,0.584511,0.598757,0.465511,0.490667,0.391952,0.307317,245.952377,0.045850
min,0.000000,-56.407510,-72.715728,-33.680984,-5.519697,-42.147898,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-11.710896,0.000000,0.000000
25%,41217.000000,-0.986678,-0.539179,-0.064757,-0.743469,-0.828769,-0.691130,-0.586318,-0.162642,-0.660087,...,-0.230719,-0.546772,-0.170303,-0.332459,-0.195935,-0.330347,-0.065124,-0.027056,5.480000,0.000000
50%,60776.000000,-0.183596,0.109687,0.623352,0.124322,-0.226226,-0.202623,-0.031930,0.056663,-0.078965,...,-0.054461,-0.066777,-0.036215,0.059467,0.135677,-0.058970,0.008693,0.021151,21.895000,0.000000
75%,78622.750000,1.184444,0.804222,1.297353,0.937619,0.374481,0.449208,0.462624,0.350995,0.641342,...,0.128339,0.363171,0.098701,0.415855,0.399459,0.272940,0.089729,0.078303,76.720000,0.000000
max,120396.000000,2.439207,22.057729,9.382558,16.875344,34.801666,22.529298,36.677268,20.007208,15.594995,...,27.202839,10.503090,19.002942,4.022866,7.519589,3.517346,12.152401,33.847808,19656.530000,1.000000

In [11]:
train.columns

Index([u'Time', u'V1', u'V2', u'V3', u'V4', u'V5', u'V6', u'V7', u'V8', u'V9',
       u'V10', u'V11', u'V12', u'V13', u'V14', u'V15', u'V16', u'V17', u'V18',
       u'V19', u'V20', u'V21', u'V22', u'V23', u'V24', u'V25', u'V26', u'V27',
       u'V28', u'Amount', u'Class'],
      dtype='object')

In [12]:
test.columns

Index([u'id', u'Time', u'V1', u'V2', u'V3', u'V4', u'V5', u'V6', u'V7', u'V8',
       u'V9', u'V10', u'V11', u'V12', u'V13', u'V14', u'V15', u'V16', u'V17',
       u'V18', u'V19', u'V20', u'V21', u'V22', u'V23', u'V24', u'V25', u'V26',
       u'V27', u'V28', u'Amount'],
      dtype='object')

In [36]:
from sklearn.preprocessing import StandardScaler

train['normAmount'] = StandardScaler().fit_transform(train['Amount'].values.reshape(-1,1))
# StandardScaler().fit_transform(train['Amount'].reshape(-1, 1))
train.drop(['Time', 'Amount'], axis=1, inplace=True)
train.columns

Index([u'V1', u'V2', u'V3', u'V4', u'V5', u'V6', u'V7', u'V8', u'V9', u'V10',
       u'V11', u'V12', u'V13', u'V14', u'V15', u'V16', u'V17', u'V18', u'V19',
       u'V20', u'V21', u'V22', u'V23', u'V24', u'V25', u'V26', u'V27', u'V28',
       u'Class', u'normAmount'],
      dtype='object')

In [39]:
X = train.iloc[:,train.columns != 'Class']
y = train.iloc[:, train.columns == 'Class']

In [40]:
no_record_fraud = len(train[train['Class']== 1])
fraud_indices = np.array(train[train['Class'] == 1].index)

normal_indices = train[train['Class'] == 0].index

random_normal_indices = np.random.choice(normal_indices, no_record_fraud, replace=False)

random_normal_indices = np.array(random_normal_indices)

under_sample_indices = np.concatenate([random_normal_indices, fraud_indices])

under_sample_data = train.iloc[under_sample_indices,:]

X_undersample = under_sample_data.iloc[:, under_sample_data.columns != 'Class']
y_undersample = under_sample_data.iloc[:, under_sample_data.columns == 'Class']

# Showing ratio
from __future__ import division
print("Percentage of normal transactions: ", len(under_sample_data[under_sample_data.Class == 0])/len(under_sample_data))
print("Percentage of fraud transactions: ", len(under_sample_data[under_sample_data.Class == 1])/len(under_sample_data))
print("Total number of transactions in resampled data: ", len(under_sample_data))

('Percentage of normal transactions: ', 0.5)
('Percentage of fraud transactions: ', 0.5)
('Total number of transactions in resampled data: ', 720)

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state = 0)

print("Number transactions train dataset: ", len(X_train))
print("Number transactions test dataset: ", len(X_test))
print("Total number of transactions: ", len(X_train)+len(X_test))

X_train_undersample, X_test_undersample, y_train_undersample, y_test_undersample = train_test_split(X_undersample, y_undersample, test_size=0.3, random_state=0)

print("")
print("Number transactions train dataset: ", len(X_train_undersample))
print("Number transactions test dataset: ", len(X_test_undersample))
print("Total number of transactions: ", len(X_train_undersample)+len(X_test_undersample))

('Number transactions train dataset: ', 119620)
('Number transactions test dataset: ', 51266)
('Total number of transactions: ', 170886)

('Number transactions train dataset: ', 504)
('Number transactions test dataset: ', 216)
('Total number of transactions: ', 720)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import confusion_matrix,precision_recall_curve,auc,roc_auc_score,roc_curve,recall_score,classification_report

In [78]:
lr = LogisticRegression(C = 0.01, penalty = 'l1')
y_pred_undersample_score= lr.fit(X_train_undersample,y_train_undersample.values.ravel()).decision_function(X_test_undersample.values)
fpr, tpr, thresholds = roc_curve(y_test_undersample.values.ravel(),y_pred_undersample_score)
roc_auc = auc(fpr,tpr)
print(roc_auc)

0.9545610425240054

In [76]:
y_pred_undersample = lr.predict_proba(X_train_undersample.values)

In [79]:
print(y_pred_undersample)
# recall_acc = recall_score(y_train_undersample.values,y_pred_undersample)

[[0.02647239 0.97352761]
 [0.48876535 0.51123465]
 [0.49290638 0.50709362]
 ...
 [0.02930417 0.97069583]
 [0.14882594 0.85117406]
 [0.01462714 0.98537286]]

In [80]:
# print recall_acc
test_id = test['id']
test['normAmount'] = StandardScaler().fit_transform(test['Amount'].values.reshape(-1, 1))
test.drop(['id','Time', 'Amount'], axis=1, inplace=True)
test.columns

Index([u'V1', u'V2', u'V3', u'V4', u'V5', u'V6', u'V7', u'V8', u'V9', u'V10',
       u'V11', u'V12', u'V13', u'V14', u'V15', u'V16', u'V17', u'V18', u'V19',
       u'V20', u'V21', u'V22', u'V23', u'V24', u'V25', u'V26', u'V27', u'V28',
       u'normAmount'],
      dtype='object')

In [81]:
test.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,normAmount
count,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,...,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,113922.000000,1.139220e+05
mean,0.254790,-0.061147,-0.739574,-0.176145,0.264154,-0.087355,0.121014,-0.048323,-0.028315,0.044780,...,-0.046415,0.042414,0.125620,0.033691,-0.013508,-0.138416,-0.018915,-0.003145,-0.003661,-1.995872e-18
std,2.084798,1.708363,1.402110,1.461795,1.399507,1.381521,1.269185,1.140921,1.012170,1.075166,...,0.831851,0.718423,0.788891,0.678606,0.615592,0.567761,0.468648,0.420530,0.361525,1.000004e+00
min,-46.855047,-50.383269,-48.325589,-5.683171,-113.743307,-20.869626,-23.386192,-39.688571,-5.315778,-12.005487,...,-54.497720,-21.620120,-7.417140,-36.666000,-2.790479,-8.696627,-1.855355,-9.895244,-15.430084,-3.507272e-01
25%,-0.803474,-0.691492,-1.598875,-0.978321,-0.437266,-0.880160,-0.491670,-0.273016,-0.611783,-0.568003,...,-0.247525,-0.223898,-0.534498,-0.142556,-0.382477,-0.450982,-0.313889,-0.075609,-0.062309,-3.275064e-01
50%,0.117918,-0.005869,-0.734515,-0.337116,0.250455,-0.389824,0.153539,-0.035898,-0.011578,-0.039087,...,-0.104915,0.036140,0.186984,0.040797,0.016353,-0.193161,-0.041568,-0.009557,-0.028504,-2.631127e-01
75%,1.978708,0.803288,0.121452,0.431538,0.882898,0.309488,0.746786,0.285892,0.553190,0.535297,...,0.091963,0.253761,0.750595,0.227964,0.524469,0.221846,0.214747,0.093809,0.078240,-4.632056e-02
max,2.454930,12.730564,3.937048,15.304184,29.162172,73.301626,120.589494,12.766112,7.871113,12.424602,...,23.643417,20.063786,8.272233,22.528412,4.584549,6.070850,3.415636,31.612198,16.129609,9.991284e+01

In [83]:
y_pred_undersample = lr.predict_proba(test.values)
y_class = lr.predict(test.values)

In [85]:
test.shape

(113922, 29)

In [84]:
len(y_class), len(y_pred_undersample)

(113922, 113922)

In [86]:
print(y_pred_undersample)
# print y_class

[[0.52924135 0.47075865]
 [0.50863537 0.49136463]
 [0.46520273 0.53479727]
 ...
 [0.3714755  0.6285245 ]
 [0.55230889 0.44769111]
 [0.51462252 0.48537748]]

In [87]:
pred_series = y_pred_undersample[:,1]
np.array(test_id)

array([     0,      1,      2, ..., 113919, 113920, 113921])

(113922,)

In [88]:
y_pred_undersample.shape

(113922, 2)

In [89]:
submit = pd.DataFrame({"id": np.array(test_id), "Class": pred_series}, columns=["id","Class"])

In [90]:
submit.head()

   id     Class
0   0  0.470759
1   1  0.491365
2   2  0.534797
3   3  0.534939
4   4  0.519624

In [91]:
submit.describe()

                  id          Class
count  113922.000000  113922.000000
mean    56960.500000       0.529098
std     32886.593021       0.065682
min         0.000000       0.270645
25%     28480.250000       0.486184
50%     56960.500000       0.517688
75%     85440.750000       0.560391
max    113921.000000       0.999497

In [92]:
submit.to_csv("submission.csv", index=False)